body{
    display: flex;
    background: url(../img/cadastro_login.jpg) fixed no-repeat ;
    background-size: cover;
}
h2{
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #E5C7C6;
}
.user-box{
    margin: 15px;
}
.boxStyle{
    border-radius: 0px;
    width: 290px;
    height: 45px;
    font-size: large;
}
#buttonSubmit{
    background-color: #E5C7C6;
    border-radius: 8px;
    width: 300px;
    height: 35px;
    font-size: large;
    text-align: center;
    border: none;
}:hover{
    cursor: pointer;
}
@keyframes imgPrincipal{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;    
    }
}